.wok-profile {
	transition: .2s ease-in;
	filter: grayscale(100%);
}

.wok-profile:hover {
	filter: grayscale(0%);
	transform: scale(1.01);
}

.wa-icon {
	width: 80px;
	height: 80px;
	position: fixed;
	background-color: #1bcb60;
	right: 10%;
	bottom: 10%;
	z-index: 999999999;
	transition: .3s ease-in-out;

}

.wa-icon:hover{
	transform: scale(1.1);
}
.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }