body{
	background-image: url('img/bg.jpg');
}
nav{
	background-image: url('img/bg\ nav.jpg');
	transition: all ease 0.3s;
}
.wok-profile {
	transition: .2s ease-in;
	filter: grayscale(100%);
}

.wok-profile:hover {
	filter: grayscale(0%);
	transform: scale(1.01);
}
.card {
	border: 3px solid #ccc;
	transition: border-color 0.5s ease;
  }
  
  .card:hover {
	border-color: blue;
  }
  .highlight {
	color: #808080;
	transition: color 0.5s ease;
  }
  
  .highlight:hover {
	color: blue;
  }
  .progress-bar {
	animation: animate-progress 4s ease-in-out infinite;
  }
  .card:hover {
	transform: translateY(-10px);
  }
  
  .card {
	transition: transform 0.2s ease-in-out;
  }
  
  @keyframes animate-progress {
	0% {
	  transform: translateX(-100%);
	}
	50% {
	  transform: translateX(0%);
	}
	100% {
	  transform: translateX(100%);
	}
  }
  .card {
	animation-name: slide-in;
	animation-duration: 1s;
  }
  
  @keyframes slide-in {
	from {
	  transform: translateX(-100%);
	}
	to {
	  transform: translateX(0%);
	}
  }
  .btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
.wa-icon {
	width: 80px;
	height: 80px;
	position: fixed;
	background-color: #1bcb60;
	right: 10%;
	bottom: 10%;
	z-index: 999999999;
	transition: .3s ease-in-out;

}

.wa-icon:hover{
	transform: scale(1.1);
}
.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }
  .social-menu {
	display: flex;
	list-style-type: none;
}

.social-menu i {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 25px;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.social-menu li{
	margin: 0 10px;
}
.social-menu a {
	text-decoration: none;
}

.fa-facebook {
	background:#3b5998
} 

.fa-discord {
	background:#023750
}

.fa-instagram {
	background:#d91280
}



.social-menu i:hover {
	opacity: .7;
	border-radius: 0;
}
